script(src="../../scripts/controllers/thank-you/thank-you.controller.js")

section.section.section-thankyou(data-ng-controller="thankYouCtrl")

	.container

		.panel

			.panel-body

					.row

						.col-md-2.centred.margin--bottom
							img(src="../../images/help-us-icon2.png")

						.col-md-10

							h1
								span.hidden-sm(translate="PS_7_0_1") You’re all done! We’re sending you a confirmation email so you have a copy of your policy details.
								span.visible-sm(translate="PS_7_0_1") You’re all done! Please look for the confirmation email with your policy details.
								.subtitle(translate="PS_7_0_3") Please allow [x] mins to receive your confirmation email.

		.panel

			.panel-header.clearfix.panel-header--blue

				h2.margin--bottom.pull-left
					span(translate="PS_7_1_1") Your Car Insurance Summary
					.subtitle
						span(translate="PS_7_1_2") Policy Number: 
						span(data-ng-cloak)  {{summary.policy.number}}

				.pull-right
					h2.align-right
						span(translate="PS_7_1_3") Total 
						span(data-ng-cloak)  S${{summary.policy.total | number}}
						span(translate="PS_7_1_4") /yr

						.subtitle.align-right
							span(data-ng-cloak) S${{summary.policy.total / 12 | number}}
							span(translate="PS_7_1_5") /mo

						.subtitle.subtitle-secondary.align-right
							span(translate="PS_7_1_6") Savings 
							span(data-ng-cloak)  S${{summary.policy.savings}}
							span(translate="PS_7_1_4") /yr

			.panel-body(ng-hide="content")

				h2(data-ng-cloak) {{summary.policy.name}}

				p
					span(translate="PS_7_1_8") Excess amount: 
					span(data-ng-cloak)  S${{summary.policy.excess}}

				p
					span(translate="PS_7_1_9") Optional Cover included: 
					span(data-ng-repeat="cover in summary.cover") {{cover.name}}
						span(data-ng-if="!$last") , 

			.panel-body

				.row

					.col-xs-2

						img(src="../../images/car-icon2.png")

					.col-xs-5

						.row

							.col-md-3

								strong(translate="PC_4_8_1_1a") Car

							.col-md-8

								div
									span(data-ng-cloak) {{summary.car.year}}
									span(data-ng-cloak) {{summary.car.make}}
									span(data-ng-cloak) {{summary.car.model}}
									span(data-ng-show="summary.car.lowmileageoption") , Low Mileage


								div(data-ng-show="details")
									p(data-ng-show="summary.car.modifications.bodykit || summary.car.modifications.airintakeexhaust || summary.car.modifications.rimstires || summary.car.modifications.suspensionstabiliser") Modifications: 
										span(data-ng-if="summary.car.modifications.bodykit") Body Kit, Rims / Tires 
										span(data-ng-if="summary.car.modifications.airintakeexhaust") Air Intake/Exhaust 
										span(data-ng-if="summary.car.modifications.rimstires") Rims &amp; Tires 
										span(data-ng-if="summary.car.modifications.suspensionstabiliser") Suspension Stabiliser 
									p
										span(data-ng-if="summary.car.financed") Financed
										span(data-ng-if="summary.car.ownership == 'private'") Privately Owned
										span(data-ng-show="summary.car.lowmileageoption") , Low Mileage

					.col-xs-5

						.row

							.col-md-6

								a.btn.btn-default.btn-sm.desktop(href="../car/car.html", title="Change car details", translate="PC_4_8_1_1b") Edit

							.col-md-6

				.row

					.col-xs-2

						img(src="../../images/driver-icon.png")

					.col-xs-5

						.row

							.col-md-3

								strong(translate="PC_4_8_1_2") Driver

							.col-md-8

								div
									span(data-ng-cloak) {{summary.mainDriver.gender}}
									span(data-ng-cloak) {{summary.mainDriver.age}} years old
									span(data-ng-cloak) {{summary.mainDriver.noClaimsDiscount}} NCD
									span(data-ng-cloak) Certificate of Merit
									span(data-ng-cloak, data-ng-if="summary.mainDriver.accidents.atFault == 1") {{summary.mainDriver.accidents.atFault}} at fault claim
									span(data-ng-cloak, data-ng-if="summary.mainDriver.accidents.atFault > 1") {{summary.mainDriver.accidents.atFault}} at fault claims
									span(data-ng-cloak, data-ng-if="summary.mainDriver.accidents.notAtFault == 1") {{summary.mainDriver.accidents.notAtFault}} at fault claim
									span(data-ng-cloak, data-ng-if="summary.mainDriver.accidents.notAtFault > 1") {{summary.mainDriver.accidents.notAtFault}} at fault claims

								div(ng-show="details")
									span(data-ng-cloak) {{summary.mainDriver.occupation}}
									span [Postal Code]
									span(data-ng-cloak) {{summary.mainDriver.drivingExperience}} years valid driving license,

					.col-xs-5

						.row

							.col-md-6

								a.btn.btn-default.btn-sm.desktop(href="../about-your-driver/about-your-driver.html", title="Edit the main driver details", translate="PC_4_8_1_1b") Edit

							.col-md-6

								div.align-right S$45 
									span(translate="PC_4_8_1_2_2") /yr

				.row

					.col-xs-2

						img(src="../../images/policy-icon2.png")

					.col-xs-5

						.row

							.col-md-3

								strong(translate="PC_4_8_1_3_1") Policy

							.col-md-8

								div
									span(data-ng-cloak) {{summary.policy.name}} , S${{summary.policy.excess}} 
									span(translate="PC_4_8_1_3_2") policy excess

								div(ng-show="content")
									p(data-ng-repeat="cover in summary.policy.covers") {{cover}}
										span(data-ng-if="!$last") , 

					.col-xs-5

						.row

							.col-md-6
								a.btn.btn-default.btn-sm.desktop(href="../choose-your-cover/choose-your-cover.html", title="Edit policy details", translate="PC_4_8_1_3_3") Edit

							.col-md-6

								div.align-right S$732 
									span(translate="PC_4_8_1_3_4") /yr

				.row

					.col-xs-2

						img(src="../../images/cover-icon2.png")

					.col-xs-5

						.row
							.col-md-3

								strong(translate="PC_4_8_1_5_1") Cover

							.col-md-8

								div
									span(data-ng-repeat="cover in summary.cover") {{cover.name}} 
										span(data-ng-if="!$last") , 

								div(ng-show="details")
									span(data-ng-repeat="cover in summary.cover") {{cover.description}}
										span(data-ng-if="!$last") , 

					.col-xs-5

						.row

							.col-md-6

								a.btn.btn-default.btn-sm.desktop(href="../quote/quote.html", title="Change your cover options", translate="PC_4_8_1_5_2") Edit

							.col-md-6

								p.align-right S$235 
									span(translate="PC_4_8_1_5_3") /yr
								p.align-right.strikethrough(style="text-decoration:line-through;") S$261 
									span(translate="PC_4_8_1_5_3") /yr

								p.align-right.highlight (10% 
									span(translate="PC_4_8_1_5_4") Discount
									| )

			.panel-footer

				div.centred(data-ng-click="details = !details", style="cursor: pointer;")

					div(data-ng-show="!details")
						h2(translate="PC_4_8_2_1") Review Full Details
						img(src="../../images/down-arrow.png")

					div(data-ng-show="details")
						h2(translate="PC_4_8_2_2") See Summary
						img(src="../../images/up-arrow.png")

		.row
			.col-md-2

			.col-md-4

				.panel

					.panel-body

						img.margin--bottom(src="../../images/help-travel-icon.png")

						h2(translate="PS_7_2_1") Want to add [Product Name]?

						p(translate="PS_7_2_2") Customer&apos;s who buy car insurance through DirectAsia.com often buy [Product Name]. Get your [Product Name] quote online now.

						a.btn.btn-default.btn-sm(href="", title="", translate="PS_7_2_4") Get Started

			.col-md-4

				.panel

					.panel-body

						img(src="../../images/help-account-icon.png")

						h2(translate="PS_7_3_1") Your DirectAsia.com Account

						p(translate="PS_7_3_2") We have automatically created a DirectAsia.com account for you! You can log in at any time to review your policy, manage claims or update your profile.

						a.btn.btn-default.btn-sm(href="", title="", translate="PS_7_3_3") Login Now

			.col-md-2

		div

			h2(translate="PS_7_4_1") Connect With Us for Great Offers!

			p(translate="PS_7_4_2") We want you to get to know the people in our customer care centre and those behind the website. Follow us on our social media accounts and stay up to date with DirectAsia.com&apos;s news and special offers.

			.row

				.col-md-1

				.col-md-2.col-xs-4
					img(src="../../images/DA-facebook.png")

				.col-md-2.col-xs-4
					img(src="../../images/DA-twitter.png")

				.col-md-2.col-xs-4
					img(src="../../images/DA-google+.png")

				.col-md-2.col-xs-6
					img(src="../../images/DA-linkedin.png")

				.col-md-2.col-xs-6
					img(src="../../images/DA-youtube.png")

		.panel

			.panel-body

				img.pull-left.margin--right(src="../../images/help-us-icon.png")

				h2(translate="PS_7_5_1") Help Us Improve

				p(translate="PS_7_5_2") We love honest feedback so we can make a better business for our customers. If you have two minutes, please complete a short survey about your DirectAsia.com experience.

			.panel-footer

				div
					img.pull-left.margin--right(src="../../images/green-check.png")
					p(translate="PS_7_5_3") Rate and Review Us

				div
					img.pull-left.margin--right(src="../../images/green-check.png")
					p(translate="PS_7_5_4") Refer a Friend and Get a $25 Voucher

				div
					img.pull-left.margin--right(src="../../images/green-check.png")
					p(translate="PS_7_5_5") Refer a friend to us for their car insurance and receive a $25 voucher when they sign up with us!

				button.btn.btn-default.btn-sm(type="button", translate="PS_7_5_6") Learn More