section#quote5.section.section--padded(data-ng-show="currentStep>=5")

	.container

		.panel.panel-comparable.margin--top

			.panel-header(data-ng-class="{'compare':compare}")

				h2.pull-left.margin--bottom(translate="PS_4_8a") Your Car Insurance Summary
				.price-summary.clearfix
					h2.align-right(data-ng-cloak)
						span(translate="PC_4_8a_1") Total 
						| S${{plan.totalCost}}
						span(translate="PC_4_8_1_2_2") /yr
						.subtitle.align-right S${{plan.totalCost / 12}}
						span(translate="PC_4_8_3_4") /mo
						.subtitle.subtitle-secondary.align-right
							span(translate="PC_4_8a_2") Savings
							| S$167
							span(translate="PC_4_8_1_2_2") /yr

					label.label-checkbox(data-ng-show="compare")
						input#selectCurrent(type="checkbox")
						.fake-checkbox
							i.glyphicon.glyphicon-ok

			.panel-body

				.row(style="margin-bottom:2em;")
					.col-xs-2
						img(src="../../images/car-icon2.png")

					.col-xs-5

						.row
							.col-md-3
								strong(translate="PC_4_8_1_1a") Car

							.col-md-8
								span(data-ng-cloak) {{plan.car.year}} 
								span(data-ng-cloak) {{plan.car.make}} 
								span(data-ng-cloak) {{plan.car.model}}
								span(data-ng-cloak) {{plan.car.lowmileageoption ? ", Low Mileage" : "" }}
								div(data-ng-hide="!fulldetails")
									span(data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser") Modifications:
									ul(data-ng-if="plan.car.modifications.bodykit || plan.car.modifications.rimstires || plan.car.modifications.airintakeexhaust || plan.car.modifications.suspensionstabiliser")
										li(data-ng-cloak, data-ng-if="plan.car.modifications.bodykit") Body Kit
										li(data-ng-cloak, data-ng-if="plan.car.modifications.rimstires") Rims/Tires
										li(data-ng-cloak, data-ng-if="plan.car.modifications.airintakeexhaust") Air Intake/Exhaust
										li(data-ng-cloak, data-ng-if="plan.car.modifications.suspensionstabiliser") Suspension Stabiliser
									span(data-ng-if="plan.car.financed") Financed 
									span(data-ng-cloak) {{plan.car.ownership == "private" ? "Privately Owned " : "" }}
									span(data-ng-cloak) {{plan.car.lowmileageoption ? "Low Mileage " : "" }}

					.col-xs-5

						.row
							.col-md-6
								a.btn.btn-default(href="../car/car.html", title="Edit car details", translate="PC_4_8_1_1b") Edit

							.col-md-6.align-right

				.row(style="margin-bottom:2em;")
					.col-xs-2
						img(src="../../images/driver-icon.png")

					.col-xs-5

						.row
							.col-md-3
								strong(translate="PC_4_8_1_2") Driver

							.col-md-8
								span(data-ng-cloak) {{plan.mainDriver.gender}}, 
								span(data-ng-cloak) {{plan.mainDriver.age}} years old, 
								span(data-ng-cloak) {{plan.mainDriver.noClaimsDiscount}} NCD, 
								p(data-ng-hide="!fulldetails")
									ng-pluralize(data-ng-cloak, count="plan.mainDriver.accidents.atFault", when="{'0':'0 at fault claims', '1': '1 at fault claim', 'other': '{} at fault claims'}")
								p(data-ng-hide="!fulldetails")
									span(data-ng-cloak) {{plan.mainDriver.occupation}} 
									ng-pluralize(data-ng-cloak, count="plan.mainDriver.drivingExperience", when="{'0':'0 years', '1': '1 year', 'other': '{} years'}")

					.col-xs-5

						.row
							.col-md-6
								a.btn.btn-default(href="../about-your-driver/your-driver.html", title="Edit driver information", translate="PC_4_8_1_2_1") Edit

							.col-md-6.align-right S$45
								span(translate="PC_4_8_1_2_2") /yr

				.row(style="margin-bottom:2em;")
					.col-xs-2
						img(src="../../images/policy-icon2.png")

					.col-xs-5

						.row
							.col-md-3
								strong(translate="PC_4_8_1_3_1") Policy

							.col-md-8
								span(data-ng-cloak) {{plan.cover.name}}
								span(data-ng-cloak, data-ng-show="plan.excess") , {{plan.excess}}
								span(translate="PC_4_8_1_3_2") policy excess
								ul(data-ng-hide="!fulldetails")
									li Third Party - Death or Bodily Injury
									li Third Party - Property Damage
									li 24 hour accident towing
									li Own damage - Fire
									li Own damage - Theft
									li Own damage - Act of God
									li Own damage - All Accidents
									li Windscreen / Window Breakage

					.col-xs-5

						.row
							.col-md-6
								a.btn.btn-default(href="", title="", translate="PC_4_8_1_3_3") Edit

							.col-md-6.align-right S$
								span(data-ng-cloak) {{plan.cover.baseCost}}
								span(translate="PC_4_8_1_3_4") /yr

				.row
					.col-xs-2
						img(src="../../images/cover-icon2.png")

					.col-xs-5

						.row
							.col-md-3
								strong(translate="PC_4_8_1_5_1") Cover

							.col-md-8
								ul
									li(data-ng-repeat="option in plan.options", data-ng-cloak) {{option.name}}
										small(data-ng-hide="!fulldetails", data-ng-cloak) {{option.description}}

					.col-xs-5

						.row
							.col-md-6
								a.btn.btn-default(href="", title="", translate="PC_4_8_1_5_2") Edit

							.col-md-6.align-right S$
								span(data-ng-cloak) {{calculateOptionsCost(plan)}}
								span(translate="PC_4_8_1_5_3") /yr
								div
									span.strikethrough S$261
									span(translate="PC_4_8_1_5_3") /yr
									span.highlight  (10% 
									span(translate="PC_4_8_1_5_4") discount
									| )

			.panel-footer

				.row

					.col-md-7
						button.btn.btn-plain.btn-large.btn-block(type="button", data-ng-click="fulldetails=!fulldetails")
							span(data-ng-hide="fulldetails", translate="PC_4_8_2_1") Review Full Details
							img(src="../../images/down-arrow.png", data-ng-hide="fulldetails")
							span(data-ng-hide="!fulldetails", translate="PC_4_8_2_2") See Summary
							img(src="../../images/up-arrow.png", data-ng-hide="!fulldetails")

					.col-md-5
						button.btn.btn-plain.btn-large.btn-block(type="button", data-ng-click="compare=!compare") Compare Recommended Plan
							img(src="../../images/down-arrow.png")

			.panel-comparison(data-ng-class="{active:compare}")
				.panel-body

					button.btn.btn-plain.btn-medium.btn-block(type="button", data-ng-click="compare=!compare")
						span(translate="PC_4_8_3_1") Compare Recommended Plan
						img(src="../../images/down-arrow.png")

					h2(data-ng-cloak)
						span(translate="PC_4_8_3_2") Total 
						| S${{recommendedPlan.totalCost}}
						span(translate="PC_4_8_3_3") /yr
						.subtitle S${{recommendedPlan.totalCost / 12}}
							span(translate="PC_4_8_3_4") /mo
						.subtitle.subtitle-secondary
							span(translate="PC_4_8_3_5") Savings
							| S$167
							span(translate="PC_4_8_3_3") /yr

					button.btn.btn-primary.btn-sm.pull-right(type="button", data-ng-click="useRecommendedPlan()", translate="PC_4_8_3_6") Select Plan

					ul
						li(data-ng-cloak) {{recommendedPlan.cover.name}}
							.subtitle S${{recommendedPlan.cover.baseCost}}
								span(translate="PC_4_8_3_3") /yr
						li
							span(data-ng-repeat="option in recommendedPlan.options", data-ng-cloak) {{option.name}} 
							.subtitle(data-ng-repeat="option in recommendedPlan.options", data-ng-cloak) S${{option.cost}}
								span(translate="PC_4_8_3_3") /yr